*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  background-image: linear-gradient(#13C4A3, #6A7FDB);
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  cursor: pointer;
}


.HomePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#13C4A3, #6A7FDB);
  justify-content: center;
  align-items: center;
}

.homepage-image-text {
  padding: 7vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
}

.homepage-image-text > img {
  width: 70%;
  margin: 30px;
  animation: appears 6s;
}

#re{
  animation: appears 4s;
  font-size: 4vh;
}

#connect {
  animation: appears 2s;
  font-size: 4vh;
}

 @keyframes appears {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
    }
 }


 button {
   background-color: #D1E3DD;
   font-size: 2.5vh;
   font-family: 'Poppins', sans-serif;
   border-radius: 10px;
   padding: 3%;
   width: 70vw;
   margin: 10px;
   cursor: pointer!important;
 }

.App {
  /* font-family: 'Barlow', sans-serif;
  background-color: #FDFDFF;
  color: #253031;
  height: 100vh; */
}
/*
.text{
  font-family: 'Antic Didone', serif;
  font-family: 'Barlow', sans-serif;
  background-color: rgba(152,223,175, .3);
} */


/* REGISTER FORM & WELCOME PAGE*/

.userForm {
  height: 100vh;
  background-image: linear-gradient(#13C4A3, #6A7FDB);
}

.userForm > form {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
}

form > h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  padding-top: 10vh;
}

#error {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

input {
  border: none;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  width: 70vw;
  border-radius: 10px;
  height: 6vh;
  background-color: inherit;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
}

form > label {
  align-self: flex-start;
  padding-left: 14vh;
  padding-top: 2vh;
  margin-top: 5vh;
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

#submitForm {
  margin-top: 8vh;
}


/* -------------------- */

.HeaderMobile {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  padding: 7vh 2vh;
  flex-wrap: wrap;
}

.HeaderMobile > h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.menu > img {
  width: 7vw;
}

.dropdown-menu {
  /* position: absolute; */
  align-self: flex-end;
  background-color: black !important;
  width: 25vw;
  height: auto;
  color: white;
  text-align: center;
  float:right;
  padding: 4vw;
  margin-right: 3vh;
}

.menu {
  border: none;
  background: none;
  width: inherit;
  padding: 0;
  margin: 5px;
}

/* --------------------------- */

.appointment-card {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.appointment-card > img {
  border-radius: 50%;
  height: 20vh;
  weight: 20vw;
  margin: 15px;
}

/* .doctor-info {
  align
} */

/* LOGIN FORM */

.LoginForm {
 text-align: center;
 padding-top: 5em;
 background-color: rgb(245,245,245);
 margin-top: 10em;
 margin-left: 40em;
 width: 40em;
 height: 30em;
 border: .2em solid #34623F;
 box-shadow: 5px 9px #888888;
}

.login-input{
  margin-top: 3em;
  padding: 3em;
  width: 18em;
  height: .1em;
  border-radius: 2em;
  background-color: rgba(152,223,175, .3);
}

.create-new-account{
  padding-top: 3.5em;
  padding-bottom: 1em;
}

.closeModal{
  font-size: 2.5em;
  background: none;
  border: none;
  padding-right: .6em;
  top: -1em;
  float: right;
  padding: .5em;
  top: 0;
  margin: 0;
  color: #466365;
}

.login-button{
  margin: 1.5em;
  height: 3em;
  width: 9em;
  border-radius: 1em;
  /* font-family: 'Barlow', sans-serif; */
  font-size: .7em;
  border-color: #98DFAF;
  box-shadow: 2px 3px #888888;
  background-color: rgba(152,223,175, .3);
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}


.modal{
  animation-name: modal;
  animation-duration: 1s;
  width: 100vw;
  height: 90vh;
  background-color: rgba(253,253,255, .8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes modal {
  0%{ opacity: 0}
  100%{ opacity: 1}
}


/* CONSULT LIST & User Profile*/

#forest-bg{

}

.AppointmentList{
  height: 120vh;
  background-image: url("https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200");
  min-width: 50em;
  /* background-color: rgba(180,236,180, .2); */
  /* background-repeat: no-repeat; */
  background-size:cover;
  /* background-repeat: no-repeat; */
  position: absolute;
  /* height: 100vh; */
  width: 100vw;
}

.DiaryVideo{
  display: flex;
  background-color: rgba(180,236,180, .1);
  min-height: 20em;
  /* background-image: url("https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200"); */
  /* background-position: top; */
  background-position: center;
  /* background-size: cover; */
  background-clip: inherit;
}

#diaryVideo{
  padding-top: 2em;
  margin-top: 4em;
  margin-left: 1.5em;
  width: 35em;
  background-color: rgba(180,236,180, .1);
  border: .2em solid white;
  height: 18em;
}

.ziggeo{
  min-width: 50em;
  padding-left: 4.2em;
  padding-right: 0;
  margin-right: 0;
}

.ziggeovideos{
  min-width: 20em;
  padding: 1em;
  margin-left: 3.5em;
}

#videos-h1{
  padding-bottom: 1em;
  min-width: 1em;
  color: white;
}

ziggeoplayer{
  padding: 1em;
  min-width: 2em;
}

.Videos{
  display: grid;
  grid-template-columns: 21em 21em;
  grid-template-rows: 50% 50%;
}

.profile-icon{
  height: 3em;
  width: 3em;
}

.therapistImg{
  width: 11em;
  height: 15em;
  border-radius: 1em;
  margin-bottom: 1.5em;
}

.consultList{
  display: flex;
  background-color: rgba(253,253,255, .6);
  border: .2em solid rgba(180, 236, 180, .4);
  border-radius: .5em;
  justify-content: flex-start;
  height: 28em;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 2em;
}

.schedule-button{
  margin: 1.5em;
  height: 3em;
  width: 9em;
  border-radius: 1em;
  /* font-family: 'Barlow', sans-serif; */
  font-weight: 600;
  font-size: .7em;
  border-color: #98DFAF;
  background-color: rgba(152,223,175, .3);
  box-shadow: 2px 3px #888888;
  background-color: rgba(152,223,175, .3);
}

.calendar-input{
  margin-top: 1em;
}

.calendar-form{
  padding-top: 3.5em;
  padding-left: 1em;
}

.Appointment{
  padding-top: 7em;
  background-attachment: fixed;
}

.you-have-appointments{
  font-size: 2.5em;
  font-weight: 500;
  padding-left: 1.6em;
  padding-bottom: .6em;
}

#app-info{
  text-align: justify;
  padding: .2em;
  font-size: 1.2em;
  font-weight: 600;
}

/* span{
  color: #34623F;
} */

.eachConsult{
  background-color: rgba(253,253,255, .5);
  border-radius: 1em;
  width: 18em;
  height: 23em;
  padding: 1em;
  padding-top: 2em;
  margin: 1em;
  border: 2px solid white;
}

#arrow{
  padding-top: 3.5em;
  font-size: 3em;
  color: rgba(52,98,63, .5);
  font-weight: 600;
}
.arrow{
  width: 5em;
  height: 25em;
  margin-left: 4em;
  right: 0;
  background-color: rgba(255,255,255, 1);
}

.cancel-app-button{
  height: 2em;
  border: 2px solid white;
  border-radius: 1em;
  /* font-family: 'Barlow', sans-serif; */
  font-size: .7em;
  /* border-color: #98DFAF; */
  /* font-weight: 600; */
  background-color: rgba(241, 169, 160, 1);
  box-shadow: 1px 2px #888888;
}

.reschedule-app-button{
  height: 2em;
  border: 2px solid white;
  margin-top: 1.1em;
  border-radius: 1em;
  /* font-family: 'Barlow', sans-serif; */
  font-size: .7em;
  /* border-color: #98DFAF; */
  /* font-weight: 600; */
  background-color: rgba(200, 247, 197, 1);
  box-shadow: 1px 2px #888888;
}

/* THERAPIST LIST */

.therapistList{
  background-color: rgba(152,223,175, .5);
  /* background-image: url("https://images.wallpaperscraft.com/image/forest_fog_aerial_view_129318_1920x1080.jpg");
  background-position: center; */
  /* background-size: cover; */
}

.redirect-to-therapists{
  background: none;
  border: none;
  font-size: 1.5em;
  color: #34623F;
  font-weight: 500;
}

.therapistInfo{
  display: flex;
  margin: 3em;
  border: .2em solid rgb(240,255,240);
  background-color: #FDFDFF;
  background-image: url("https://images.wallpaperscraft.com/image/forest_fog_aerial_view_129318_1920x1080.jpg");
  background-size: contain;
  box-shadow: 5px 5px #888888;
}

.therapist-img{
  border: .2em solid rgb(240,255,240);
  width: 14em;
  height:20em;
  margin: 1em;
}

.therapist-list-info{
  font-size: 2em;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
}

.more-about-professional{
  width: 20em;
  height: 3em;
  margin-top: 6em;
  border-radius: 1em;
  font-family: 'Barlow', sans-serif;
  font-size: .8em;
  font-weight: 600;
  border-color: #98DFAF;
  background-color: rgba(245,245,245, .6);
  box-shadow: 2px 3px #888888;
}

.name-location-specialty{
  padding: 1em;
}

/* THERAPIST PROFILE */

.TherapistProfile{
  background-color: #FDFDFF;
  background-image: url("https://wallpapercave.com/wp/wp3455151.jpg");
  background-size: contain;
}

.therapistImage{
  width: auto;
  height: 20em;
  padding: 1.5em;
  padding-top: 4.5em;
  border-radius: 2.5em;
}

.therapist-name{
  font-size: 2em;
  padding-top: 2em;
}

.verified{
  width: .8em;
}

#therapist-info{
  font-size: 2em;
  padding: 0 0 1em 0;
  text-align: justify;
}

#title-therapist{
  font-size: 2.2em;
  color: #34623F;
  font-weight: bold;
}

.top-therapist-profile{
  margin-top: 2em;
  margin-bottom: 5em;
  display: flex;

}

.star{
  margin-top: .4em;
  padding:0;
  width: 1em;
}

.modalAppointment{
  padding-left: 3em;
  padding-top: 5em;
}

.bottom-therapist-profile{
  padding: 3em;
}

.icon-therapist-profile{
  width: 2.5em;
  height: 2.5em;
  padding-right: 1em;
}

.icon-text{
  display: flex;
}

.schedule-btt-therapist-profile{
  margin: 1.5em;
  height: 3em;
  width: 15em;
  border-radius: 1em;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: .7em;
  border-color: #98DFAF;
  background-color: rgba(152,223,175, .3);
  box-shadow: 2px 3px #888888;
  background-color: rgba(152,223,175, .3);
}

.form-contact-therapist{
  display: flex;
  flex-direction: column;
}

.form-contact-me{
  display: flex;
  margin-top: 6em;
  margin-left: 1em;
}

#input-form-contact-therapist{
  padding: 1em;
  margin: .6em;
  width: 26em;
  height: 3em;
  padding: 1em;
  margin: .5%;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  border-radius: 0.7em;
  border-color: #98DFAF;
}

#textarea{
  padding: 1em;
  margin: .6em;
  width: 16em;
  height: 14.5em;
  padding: 1em;
  margin-left: 3em;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  border-radius: 0.7em;
  border-color: #98DFAF;
}

#send{
  margin: 1.5em;
  height: 3em;
  width: 15em;
  border-radius: 1em;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: .7em;
  border-color: #98DFAF;
  background-color: rgba(152,223,175, .3);
  box-shadow: 2px 3px #888888;
  background-color: rgba(152,223,175, .3);
}

#contactme{

}
